<div class="login-content">
    <div class="logo col-md-12" [customStyle] data-style-key="logo"></div>
    <div class="content-outer-box" [customStyle] data-style-key="login-box">
        <div class="content-nav-top" *ngIf="username">
            <span>{{username}}</span>
            <span> | </span>
            <span><a [routerLink]="['../login', 'logout']">Logout</a></span>
        </div>
        <div class="content-box">
            <div *ngIf="!page">
                <form #f="ngForm" (ngSubmit)="login(f.valid)" novalidate>
                    <div align="center">
                        <div *ngIf="error" class="alert alert-danger">
                            <span *ngIf="errorText">{{errorText}}</span>
                            <span *ngIf="!errorText"> {{messages.loginErrorPrefix}}{{messages.userInvalid}}</span>
                        </div>
                        <div *ngIf="!error && !f.valid && f.submitted" class="alert alert-danger">
                            {{messages.loginErrorPrefix}}
                            <span *ngIf="username.errors ">
                            <span *ngIf="username.errors.required">{{messages.usernameMissing}}</span>
                        </span>
                            <span *ngIf="password.errors && !username.errors">
                            <span *ngIf="!password.errors.minLength">{{messages.loginPasswordLength}}</span>
                        </span>
                        </div>

                    </div>
                    <div><input type="text" name="username" placeholder="Username" [(ngModel)]="user.username" required
                                #username="ngModel"
                                autocomplete="off" autofocus [customStyle] data-style-key="input-box"/></div>
                    <div><input type="password" name="password" [(ngModel)]="user.password" placeholder="Password"
                                required
                                minlength="8"
                                #password="ngModel" [customStyle] data-style-key="input-box"/></div>
                    <div>
                        <input type="submit" [attr.value]="loading? 'Signing in...' : 'SIGN IN'" [disabled]="loading"
                               [ngClass]="{'btn-active': loading}" [customStyle] data-style-key="button"/>
                    </div>
                    <div class="row links-row">
                        <div class="col-md-6"><span class="row"><a
                                (click)="openPage('forgot-password')">Forgot Password?</a></span></div>
                        <div class="col-md-6 text-right no-padding-right"><a (click)="openPage('activate-account')">Activate
                            Account?</a></div>
                        <br style="clear: left"/>
                    </div>
                </form>
            </div>
            <select-entity *ngIf="page == 'select-entity'"></select-entity>
            <forgot-password *ngIf="page == 'forgot-password'" [page]="page"
                             (pageChange)="openLogin()"></forgot-password>
            <activate-account *ngIf="page == 'activate-account'" [page]="page"
                              (pageChange)="openLogin()"></activate-account>
        </div>
    </div>
</div>