<div>
    <form #f="ngForm" (ngSubmit)="sendEmail(f.valid)" novalidate>
        <div align="center">
            <div *ngIf="error" class="alert alert-danger">
                Error: Invalid Username / Password
            </div>
            <div *ngIf="!error && !f.valid && f.submitted" class="alert alert-danger">
                Error:
                <span *ngIf="username.errors ">
                            <span *ngIf="username.errors.required">Username is required</span>
                        </span>

            </div>

        </div>
        <div><input type="text" name="username" placeholder="Username"
                    autocomplete="off" autofocus/></div>

        <div>
            <input type="submit" [attr.value]="loading? 'Submitting...' : 'Submit'" [disabled]="loading"
                   [ngClass]="{'btn-active': loading}"/>
        </div>
        <div class="row links-row">
            <div class="col-md-6"><span class="row"><a (click)="openLogin()">Back to Login</a></span></div>
            <div class="col-md-6 text-right no-padding-right">Activate Account?</div>
            <br style="clear: left"/>
        </div>
    </form>
</div>