
body {
    min-height: 100%;
    background-color: #f9f9f9;
}
body *, div *, input, select {
    font-family: arial, helvetica, sans-serif;
}

img:before {
    content: 'Image Not Available';
    color: #AAA;
    font-size: 10px;
    display: block;
    position: absolute;
    height: inherit;
    width: inherit;
    background: url('/images/no-image.png')  top left;
    border: inherit;
}
a,
a:hover{
    cursor: pointer;
    color: inherit;
}
.no-padding-right{
    padding-right: 0;
}
.btn-active {
    font-style: italic;
    font-weight: normal;

}
.logo {
    margin: 10px 0;
    color: inherit;
    max-width: 100%;

    background: url("images/logo.png") no-repeat;
    align-self: flex-start;
    width: 500px;
    height: 62px;
}
.red-text{
    color: #6b1312;
}